# General modules:
import numpy as np
import os
import sys
import random
from datetime import datetime
import pickle
from collections import defaultdict, Counter

# Exploratory data analysis:
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib.image import imread
%matplotlib inline
import seaborn as sns

# Data pre-processing
from sklearn.model_selection import train_test_split
from skimage.transform import resize
from tensorflow.keras.preprocessing.image import ImageDataGenerator

# Machine learning modules
import tensorflow as tf
import keras
from keras import optimizers as opt
from sklearn.metrics import confusion_matrix, classification_report